extends layout.pug
block body
	body.events
block content
	main#content
		- var i = 0
		each proj, index in projects
			if proj.project[0].category == "forthcoming"
				if i == 1		
					include partials/article.pug
					section.read-more
						a.btn2(href="events-forthcoming.html") Read more from #{proj.project[0].category}
				- i = i + 1
		-i = 0
		each proj, index in projects
			if proj.project[0].category == "imagine events"
				if i == 1		
					include partials/article.pug
					section.read-more
						a.btn2(href="events-imagine.html") Read more from #{proj.project[0].category}
				- i = i + 1
		-i = 0
		each proj, index in projects
			if proj.project[0].category == "related events"
				if i == 1		
					include partials/article.pug
					section.read-more
						a.btn2(href="events-related.html") Read more from #{proj.project[0].category}
				- i = i + 1

		


