extends layout.pug
block body
	body.podcast
block content
	main#content.posts
		- var i = 0
		each proj, index in projects
			if proj.project[0].category == "letters"
				if i < 2		
					include partials/article.pug
				else if i == 2
					section.read-more
						a.btn2(href="podcast-letters.html") Click for more #{proj.project[0].category}
				- i = i + 1
		-i = 0
		each proj, index in projects
			if proj.project[0].category == "sound"
				if i < 2		
					include partials/article.pug
				else if i == 2
					section.read-more
						a.btn2(href="podcast-sound.html") Click for more from category #{proj.project[0].category}
				- i = i + 1
		-i = 0
		each proj, index in projects
			if proj.project[0].category == "video"
				if i < 2		
					include partials/article.pug
				else if i == 2
					section.read-more
						a.btn2(href="podcast-video.html") Click for more #{proj.project[0].category}s
				- i = i + 1


